.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label {
  margin: .25rem 0 .25rem 0;
}

.input {
  margin-left: 1rem;
}

.submit {
  margin-top: .5rem;
}
